---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Education
-------
Ph.D, Ecology and Evolutionary Biology, Brown University, 2021 (expected)
M.S. (transitional), Brown University, 2018
B.S. in Geophysical Sciences, B.A. in Biological Sciences, University of Chicago, 2014

Publications
-------
  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

Awards
-------
2017–2021
    **National Defense Science and Engineering Graduate Fellowship**
    $386,500, Air Force Research Laboratory, Department of Defense

2019
    **Ecology and Evolutionary Biology Doctoral Dissertation Enhancement Grant**
      $9,550, Brown University

Gross Human Anatomy
======
**Warren Alpert Medical School**
Laboratory Assistant and Lecturer
2019–2020
2017–2018
2016–2017

# Biological Design
======
Teaching Assistant
Brown University, Ecology and Evolutionary Biology
2018

Sheridan Center for Teaching and Learning
======
